header{
  display: flex;
  justify-content: center;
  height: 405px;
  margin: 0;
}
.picture{
  position: relative;
  width: 1278px;
  height: 405px;
  background: url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png) no-repeat;
  background-size: 1278px 405px;
}
.picture-caption{
 		position: absolute;
		top: 220px;
		left: 280px;
		font-family: 'Abril Fatface';
		color: #222;
		font-weight: bold;
		line-height: 3em;
}
.hy{
		font-weight: 300;
		font-size: 40px; 
}
.name{
 	font-size: 60px;
	letter-spacing: 0.03em;
} 
main{
  	display: flex;
		justify-content: center;
		width: 100%%;
		font-family: 'Josefin Sans';
		color: #222;
		line-height: 1.5em;
		font-size: 1.2em;
		margin-top: 40px;
} 
.container{
  display: block;
	width: 800px;
}

ul{
  list-style: square;
  font-size: 15px;
  }
.last{
	margin-bottom: 50px;
}
.section-list{
	padding: 0 45px;
	font-size: 1.2em;
}
.section-list li{
		font-size: 0.75em;
		line-height: 1.4em;
}
section{
	text-align: justify;
}

summary{
	text-align: justify;
	font-size: 1.2em;
	padding: 0 45px;
}
blockquote {
		position: relative;
		margin: 0 auto;
		display: block;
		font-family: 'Abril Fatface', cursive;
		color: white;
		background-color: #444444;
		font-size: 2.5em;
		padding: 60px 0;
		text-align: center;
		line-height: 1.5em;
}
blockquote::before {
	position: absolute;
	content: "”";
	font-size: 150px;
	top: 35px;
	left: 25px;
}
.disturb {
		padding: 60px 50px 55px 80px;
		width: 600px;
		text-align: left;
}

h2{
		margin: 65px 0;
		font-weight: bold;
		font-size: 1.4em;
		letter-spacing: 0.09em;
 		text-transform: uppercase;
	
}
h3 {
		font-weight: bold;
		font-size: 1.3em;
		margin: 0;
}
section h3:nth-of-type(2), section h3:nth-of-type(3) {
		margin-top: 40px;
}
h4{
	margin: 0;
	font-style: italic;
}

.separator-line {
		width:100%;
		height: 3px;
		background: black;
		margin-top: 50px;
}